html {
  height: 100%;
}

.form-box {
  margin-top: 12%;
  padding-left: 30%;
  padding-right: 30%;
}

.form-box .btn {
  border-radius: 10%;
  background-color: #4ae387;
}

.form-box .btn:hover {
  background-color: #37ff87;
}

.vs-red {
  color: #e34a4a;
}

.vs-red:hover {
  color: #ff2525;
  text-shadow: 1px;
}

.vs-btn-blue {
  background-color: #4ab2e3 !important;
}

.vs-btn-blue:hover {
  background-color: #75caf2 !important;
}

nav {
  background-color: #333;
}

nav .brand-logo {
  font-weight: 300;
  font-size: 20px;
}

nav #complement-title {
  font-weight: 100;
  color: #4ae387;
  /* font-size: 19px; */
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.logo-small {
  width: 60px;
  vertical-align: bottom;
}

.no-margin {
  margin: 0;
}

footer.page-footer {
  background-color: #fbfbfb;
  padding-top: 0;
}

footer {
  bottom: 1px;
}


@media only screen and (max-width: 768px) {
  .form-box {
    margin-top: 12%;
    padding-left: 5%;
    padding-right: 5%;
  }
}
