{% extends 'auth/base.html' %}

{% block content %}
  <div class="form-box">
    <form method="post">
      {% csrf_token %}
      <div class="row">
        <div class="form-info">
          <p class="center">
            Enviaremos a sua senha para o email cadastrado no sistema
          </p>
        </div>
        <div class="input-field col s12">
          <input type="email" name="email" id="id_email">
          <label for="id_email">E-mail</label>
        </div>
        <div class="form-error">
          <p class="center red-text text-darken-3">Mensagem de Erro/<span class="green-text text-darken-1">Sucesso</span></p>
        </div>
      </div>
      <div class="row valign-wrapper center">
        <div class="col s12">
          <button class="vs-btn-blue btn center" type="submit">Enviar</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
