{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <link rel="stylesheet" href="{% static 'css/dash/home.css' %}" media="screen">
  <link rel="stylesheet" href="{% static 'css/dash/base.css' %}" media="screen">
  <link rel="stylesheet" href="{% static 'css/home/chart.css' %}" media="screen">
  <title>CanionLabs - MES</title>
</head>
<body>


  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo left">AUTOPOLAR <span id="complement-title">MES</span></a>
      <ul class="left">
        <li><a style="display: block" href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a></li>
      </ul>
      <ul class="right">
        <li><span class="light-text">Bem vindo, Caio Víctor</span></li>
        <li class="custom-left-border"><a class="dropdown-button" href="#!" data-activates="dropdown1" data-beloworigin="true"><i class="material-icons">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>

  <!-- Logout Dropdown -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a class="no-format" href="#">Minha Conta</a></li>
    <li class="divider"></li>
    <li><a class="no-format" href="{% url 'logout' %}">Sair</a></li>
  </ul>

  <!-- Sidenav -->
  <ul id="slide-out" class="side-nav">
    <br>
    <li><a class="subheader">Dashboard</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="#">Home</a></li>
    <li><a class="waves-effect" href="#">Tipo A</a></li>
    <li><a class="waves-effect" href="#">Tipo B</a></li>
    <li><a class="waves-effect" href="#">Tipo C</a></li>
    <li><a class="waves-effect" href="#">Tipo D</a></li>
    <br>
    <li><a class="subheader">Relatórios</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect">Visão Geral</a></li>
    <li><a class="waves-effect">Produtividade Mensal</a></li>
    <li><a class="waves-effect">Alertas</a></li>
  </ul>

  <div class="content" >
    {% block content %}

    {% endblock %}
  </div>
  <footer class="page-footer">
    <div class="row no-margin">
      <div class="col m12 center">
        <p>
          <span>
            <img class='logo-small' src="{% static 'img/canionlabs-logo.png' %}" alt="" />
          </span> © Copyright CanionLabs 2017. Todos os direitos reservados.
        </p>
      </div>
    </div>
  </footer>
  {% block extra_js %}
  {% endblock %}
  <script src="{% static 'js/app.js' %}" charset="utf-8"></script>
  <script type="text/javascript">
    $(".button-collapse").sideNav();

    $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrainWidth: true, // Does not change width of dropdown to that of the activator
        hover: false, // Activate on hover
        gutter: 200, // Spacing from edge
        belowOrigin: false, // Displays dropdown below the button
        alignment: 'left', // Displays dropdown with edge aligned to the left of button
        stopPropagation: false // Stops event propagation
      }
    );
    console.log('oi');
  </script>
</body>
</html>
