.card .card-title {
  font-size: 15px;
}

.chart-box {
  margin-top: 10px !important;
}

.flat-row {
  margin-bottom: auto;
  line-height: 1;
}

.card-blue {
  background-color: #4ab2e3;
  border-top: .5rem solid #4ab2e3;
}

.card-green {
  border-top: .5rem solid #4ae387;
}


@media only screen and (max-width: 768px) {
	.chart-box {
	  margin-top: 0px !important;
	}
	.card {
		margin: 5px !important;
	}
}
