{% extends 'components/base.html' %}
{% load dashtags %}

{% block content %}
<div class="flat-row row ">
  <div class="col m3 center chart-box">
    <div class="card card-blue">
      <div class="card-content white-text">
        <span class="card-title">PRODUÇÃO TOTAL DE HOJE</span>
        <p>{{data_diary_sum}}</p>
      </div>
    </div>
  </div>
  <div class="col m3 center chart-box">
    <div class="card card-green">
      <div class="card-content grey-text text-darken-2">
        <span class="card-title">MAIOR PRODUÇÃO DA SEMANA</span>
        <p>{{most_productive_day}}</p>
      </div>
    </div>
  </div>
  <div class="col m3 center chart-box">
    <div class="card card-blue">
      <div class="card-content white-text">
        <span class="card-title">PRODUÇÃO TOTAL SEMANAL</span>
        <p>{{total_week}}</p>
      </div>
    </div>
  </div>
  <div class="col m3 center chart-box">
    <div class="card card-green">
      <div class="card-content grey-text text-darken-2">
        <span class="card-title">INICIO DA PRODUÇÃO DIÁRIA</span>
        <p>{{start_diary_production}}</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col m6 center chart-box">
    <canvas id="bar-chart" style="height:800;width:90vw"></canvas>
  </div>
  <div class="col m6 center chart-box">
      <canvas id="line-chart" style="height:600;width:90vw"></canvas>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
var line_chart = document.getElementById("line-chart").getContext('2d');
var config = new Chart (line_chart, {
    type: 'line',
    data: {
        labels: [
          "00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00",
          "07:00", "08:00", "09:00", "10:00", "11:00", "12:00", "13:00",
          "14:00", "15:00", "16:00", "17:00", "18:00", "19:00", "20:00",
          "21:00", "22:00", "23:00"
        ],
        datasets: [{
            label: "2 Kg",
            backgroundColor: 'rgba(36, 183, 251, 1)',
            borderColor: 'rgba(1, 173, 252, 1)',
            data: [
              {% for hour in range %}{{data_diary_2|hash:hour|length}},{% endfor %}
            ],
            fill: false,
        }, {
            label: "4 Kg",
            fill: false,
            backgroundColor: 'rgb(237, 196, 55)',
            borderColor: 'rgb(237, 188, 19)',
            data: [
              {% for hour in range %}{{data_diary_4|hash:hour|length}},{% endfor %}
            ],
        }]
    },
    options: {
        responsive: true,
        title:{
            display:true,
            text:'Produção Diária de Gelo Barra'
        },
        tooltips: {
            mode: 'index',
            intersect: false,
        },
        hover: {
            mode: 'nearest',
            intersect: true
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Horário'
                }
            }],
            yAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Quantidade'
                }
            }]
        }
    }
});


var bar_chart = document.getElementById("bar-chart").getContext('2d');
var myChart = new Chart(bar_chart, {
    type: 'bar',
    data: {
        labels: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab"],
        datasets: [
          {
            label: '2 Kg',
            data: [
              {% for day in range_day %}{{week_2|hash:day|length}},{% endfor %}
            ],
            backgroundColor: 'rgba(36, 183, 251, 1)',
            borderColor: 'rgba(1, 173, 252, 1)',
            borderWidth: 1
        },
        {
          label: '4 Kg',
          data: [
            {% for day in range_day %}{{week_4|hash:day|length}},{% endfor %}
          ],
          backgroundColor: 'rgb(237, 196, 55)',
          borderColor: 'rgb(237, 188, 19)',
          borderWidth: 1
      },
      ]
    },
    options: {
        title:{
            display:true,
            text:"Produção Semanal de Gelo Barra"
        },
        tooltips: {
            mode: 'index',
            intersect: false
        },
        responsive: true,
        scales: {
            xAxes: [{
                stacked: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Dia da Semana'
                }
            }],
            yAxes: [{
                stacked: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Quantidade'
                }
            }]
        }
    },
});
</script>
{% endblock %}
