{% extends 'components/base.html' %}
{% load staticfiles %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/dashboard/home.css' %}" media="screen">
{% endblock %}

{% block content %}
<div class="home-content">
  <div class="flat-row row ">
    <div class="col s12 m3 center chart-box">
      <div class="card card-blue">
        <div class="card-content white-text">
          <span class="card-title">PRODUÇÃO TOTAL DE HOJE</span>
          <p>Tipo A</p>
        </div>
      </div>
    </div>
    <div class="col s12 m3 center chart-box">
      <div class="card card-green">
        <div class="card-content grey-text text-darken-2">
          <span class="card-title">MAIOR PRODUÇÃO DA SEMANA</span>
          <p>Tipo B</p>
        </div>
      </div>
    </div>
    <div class="col s12 m3 center chart-box">
      <div class="card card-blue">
        <div class="card-content white-text">
          <span class="card-title">PRODUÇÃO TOTAL SEMANAL</span>
          <p>133.334</p>
        </div>
      </div>
    </div>
    <div class="col s12 m3 center chart-box">
      <div class="card card-green">
        <div class="card-content grey-text text-darken-2">
          <span class="card-title">INICIO DA PRODUÇÃO DIÁRIA</span>
          <p>08:30:45</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <hr> -->
  <div class="row">
    <div id="chart-general-diary"></div>
  </div>
  <!-- <hr> -->
  <div class="row valign-wrapper">
    <div class="col s6">
      <div id="chart-general-week"></div>
    </div>
    <div class="col s6">
      <div id="chart-general-monthly"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src={% static 'js/chart-theme.js' %}></script>
<script>
Highcharts.chart('chart-general-diary', {
    chart: {
        type: 'line'
    },


    title: {
        text: 'Gráfico da Produção do Dia'
    },
    yAxis: {
        maxPadding: 0,
        title: {text: null},
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    xAxis: {
        categories: [
          '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00',
          '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00',
          '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00',
          '21:00', '22:00', '23:00'
        ]
    },
    credits: {
      enabled: false
    },

    series: [{
        name: 'Tipo A',
        data: [
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
        ]
    }, {
        name: 'Tipo B',
        data: [
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 700),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 200),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 100),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 400),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 300),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
        ]
    }, {
        name: 'Tipo C',
        data: [
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 500),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 100),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 100),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 100),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 500),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 300),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
        ]
    }, {
        name: 'Tipo D',
        data: [
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
          Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000), Math.floor(Math.random() * 1000),
        ]
    }],

    exporting: {
        filename: 'Gráfico da Produção do Dia',
        buttons: {
            contextButton: {
                enabled: false
            },
            exportButton: {
                text: 'Exportar',
                // Use only the download related menu items from the default
                // context button
                menuItems: [
                    'downloadJPEG',
                    'downloadPDF',
                ]
            },
            printButton: {
                text: 'Imprimir',
                onclick: function () {
                    this.print();
                }
            }
        }
    },

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>

<script type="text/javascript">
Highcharts.chart('chart-general-week', {
  chart: {
      type: 'pie'
  },
  title: {
      text: 'Visão Geral da Produção Semanal'
  },
  plotOptions: {
      series: {
          dataLabels: {
              enabled: true,
              format: '{point.name}: {point.y}'
          }
      }
  },

  tooltip: {
      headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
      pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
  },

  credits: {
    enabled: false
  },

  exporting: {
      filename: 'Visão Geral da Produção Semanal',
      buttons: {
          contextButton: {
              enabled: false
          },
          exportButton: {
              text: 'Exportar',
              // Use only the download related menu items from the default
              // context button
              menuItems: [
                  'downloadJPEG',
                  'downloadPDF',
              ]
          },
          printButton: {
              text: 'Imprimir',
              onclick: function () {
                  this.print();
              }
          }
      }
  },

  "series": [
      {
          "name": "Produção",
          "colorByPoint": true,
          "data": [
              {
                  "name": "Tipo A",
                  "y": 12000,
              },
              {
                  "name": "Tipo B",
                  "y": 3999,
              },
              {
                  "name": "Tipo C",
                  "y": 200,
              },
              {
                  "name": "Tipo D",
                  "y": 50,
              },
          ]
      }
  ],
  });
</script>

<script type="text/javascript">
  Highcharts.chart('chart-general-monthly', {

    chart: {
        type: 'column'
    },

    title: {
        text: 'Visão Geral da Produção Mensal'
    },

    credits: {
      enabled: false
    },

    xAxis: {
        categories: ['Tipo A', 'Tipo B', 'Tipo C', 'Tipo D']
    },

    yAxis: {
        allowDecimals: false,
        min: 0,
        title: {
            text: null
        }
    },

    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y}'
            }
        }
    },

    legend: {
        enabled: false
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
    },

    "series": [
        {
            "name": "Categoria",
            "colorByPoint": true,
            "data": [
                {
                    "name": "Tipo A",
                    "y": 133000,
                },
                {
                    "name": "Tipo B",
                    "y": 30000,
                },
                {
                    "name": "Tipo C",
                    "y": 120000,
                },
                {
                    "name": "Tipo D",
                    "y": 45000,
                },
            ]
        }
    ],

    exporting: {
        filename: 'Visão Geral da Produção Mensal',
        buttons: {
            contextButton: {
                enabled: false
            },
            exportButton: {
                text: 'Exportar',
                // Use only the download related menu items from the default
                // context button
                menuItems: [
                    'downloadJPEG',
                    'downloadPDF',
                ]
            },
            printButton: {
                text: 'Imprimir',
                onclick: function () {
                    this.print();
                }
            }
        }
    },
  });
</script>

{% endblock %}
